# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: 惊喜农场

on:
  workflow_dispatch:
  schedule:
     - cron: '30 10-23 * * *'
  watch:
    types: started

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    env:
        JD_COOKIE: ${{ secrets.JD_COOKIE }}
        
    steps:
      - name: Checkout
        run: |
          git clone https://github.com/whyour/hundun.git ~/JavaScript
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        if: env.JD_COOKIE
        run: |
          cd ~/JavaScript
          npm install
      - name: '运行 【京喜农场】'
        if: env.JD_COOKIE
        run: |
          cd ~/JavaScript
          node quanx/jx_nc.js
       
